-e git+https://github.com/PaulUithol/backbone-tastypie.git#egg=backbone_tastypie
django.js
django-tastypie
wadofstuff-django-serializers
sqlalchemy
scrapy
shove
django-webmaster-verification
-e git+https://github.com/dsc/guess-language.git#egg=guess_language
