{% load staticfiles %}
{% load js %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link href="{%static 'bootstrap/css/bootstrap.min.css'%}"
          rel="stylesheet" media="screen">
    <link href="{%static 'css/main.css'%}"
    rel="stylesheet" media="screen">
  </head>
  <body>
    <div id="top_navbar" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Zivigo</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="hero-unit">
      <!--<p>Zivigo is an easy way to search for swiss civil service jobs</p>-->
    </div>
      <div class="container-fluid">
          <div class="row-fluid">
             <!--<div class="span3">-->
                  <!--<ul class="nav nav-list">-->
                    <!--<li class="nav-header">Filters</li>-->
                  <!--</ul>-->
              <!--</div>-->
              <div class="span9">
                  {% block content %}{% endblock %}
              </div>
              <div class="span3">
                  <ul class="nav nav-list">
                      <li class="nav-header">Jobs</li>
                      {% block sidebar %}{% endblock %}
                  </ul>
              </div>
          </div>
      </div>

    <!-- Javascript -->
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsyGBE5AMjlj5eYNQR6_FmgeM54rDPi58&sensor=false">
    </script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    {% js_lib 'markerclustererplus_compiled.js' %}
    {% js_lib 'bootstrap.min.js' %}
    {% js_lib 'underscore-min.js' %}
    {% js_lib 'backbone-min.js' %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>

    <!-- User javascript -->
    {% block javascript %}{% endblock %}
  </body>
</html>
