{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block javascript %}
<script type="text/javascript"
        src="{% static 'js/map.js' %}"></script>

<script type="text/template" id="workspec_template">
    <a href="<% print(url_from_phid(raw_phid)); %>" target="_blank"><%= shortname %></a>
</script>

<script type="text/template" id="infowindow_template">
    <a href="<% print(url_from_phid(raw_phid)); %>" target="_blank"><%= shortname %></a>
</script>

<script type="text/javascript">
    // TODO: Do clean bootstraping http://backbonejs.org/#FAQ-bootstrap
{% comment %}
    WORKSPEC_API = "{% url 'api_dispatch_list' api_name="v1" resource_name="workspec" %}";
    ADDRESS_API = "{% url 'api_dispatch_list' api_name="v1" resource_name="address" %}";
    SEARCH_API = "{% url 'api_dispatch_list' api_name="v1" resource_name="search" %}";

{% endcomment %}
    WORKSPEC_API = "";
    ADDRESS_API = "";
    SEARCH_API = "";
    // Daterange picker
    var dateMin = Date.parse('{{daterange_min|safe}}');
    var dateMax = Date.parse('{{daterange_max|safe}}');
    $('.daterange').daterangepicker({
        minDate: dateMin,
        maxDate: dateMax,
        startDate: dateMin,
        endDate: dateMax,
        format: 'dd/MM/yyyy'});
    /*$('.daterange').data('daterangepicker').notify();*/
    $('.datepicker').datepicker({
        formatDate: 'dd/MM/yyyy'});

    var _workspecs = JSON.parse("{{ workspecs|escapejs }}");
    var _addresses = JSON.parse("{{ addresses|escapejs }}");
    var App = {};
    $(initMap(_workspecs, _addresses, App));
</script>

<!-- Social stuff -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block content %}

<div id="map_canvas"></div>

<div id="filters_overlay">
    <div id="filters_container">
        <h4>{% trans 'Search options' %}</h4>
        <form action="{% url 'zivimap.views.index' %}" method="GET">
            <ul id="search_form">
                {{ search_form.as_ul }}
            </ul>
            <input class="btn btn-primary" type="submit" value="{% trans 'Search' %}" />
        </form>

        <!-- Social buttons -->
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>

        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://myzivi.ch">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>
{% endblock %}
