{% extends "base.html" %}
{% load staticfiles %}

{% block javascript %}
<script type="text/javascript"
        src="{% static 'js/map.js' %}"></script>

<script type="text/template" id="workspec_template">
    <a href="<%= url %>"><%= shortname %></a>
</script>

<script type="text/javascript">
    // TODO: Do clean bootstraping http://backbonejs.org/#FAQ-bootstrap
    WORKSPEC_API = "{% url api_dispatch_list api_name="v1" resource_name="workspec" %}";
    var _workspecs = {{ workspecs|safe }};
    var App = {};
    $(initMap(_workspecs, App));
</script>
{% endblock %}

{% block content %}
<div id="map_canvas" style="width:100%; height:100%"></div>
{% endblock %}

{% block sidebar %}
<div id="maplist">
    <ul id="workspec-list"></ul>
</div>
{% endblock %}
