{% extends "base.html" %}
{% load staticfiles %}

{% block javascript %}
<script type="text/javascript"
        src="{% static 'js/map.js' %}"></script>

<script type="text/template" id="workspec_template">
    <a href="<% print(url_from_phid(raw_phid)); %>"><%= shortname %></a>
</script>

<script type="text/template" id="infowindow_template">
    <a href="<% print(url_from_phid(raw_phid)); %>"><%= shortname %></a>
</script>

<script type="text/javascript">
    // TODO: Do clean bootstraping http://backbonejs.org/#FAQ-bootstrap
    WORKSPEC_API = "{% url api_dispatch_list api_name="v1" resource_name="workspec" %}";
    ADDRESS_API = "{% url api_dispatch_list api_name="v1" resource_name="address" %}";
    SEARCH_API = "{% url api_dispatch_list api_name="v1" resource_name="search" %}";

    var _workspecs = JSON.parse("{{ workspecs|escapejs }}");
    var _addresses = JSON.parse("{{ addresses|escapejs }}");
    var App = {};
    $(initMap(_workspecs, _addresses, App));

    $(function() {
        $("#search_accordion").accordion();
    });
</script>
{% endblock %}

{% block content %}
<div id="map_canvas"></div>

<div id="filters_overlay">
  <div id="filters_container">
    <ul class="nav nav-list">
    <li class="nav-header">Filters</li>
    <form action="{% url zivimap.views.index %}" method="GET">
        {{ search_form.as_ul }}
        <input type="submit" value="Search" />
    </form>

    {% comment %}
    <form>
      <div id="search_accordion">
        <h3><a href="#">Domains</a></h3>
        <div>{{ search_form.domains }}</div>
        <h3><a href="#">Test</a></h3>
        <div>Blah</div>
      </div>
      <input type="submit" value="Search" />
    </form>
    {% endcomment %}
    </ul>
  </div>

</div>
{% endblock %}
