body {
}

/* Allow to put text in navbar*/
.nav-text {
    display: block;
    padding: 10px 15px 10px;
    color: #999;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    font-size: 10px;
}

#full_container {
    position: relative;
    width: 100%;
    height: 100%;
}

#map_canvas {
  width: 100%;
  height: 100%;
}

#filters_overlay {
  position: absolute;
  left: 50px;
  bottom: 35px;
  width: 410px;
  max-height: 100%;
  padding: 0;
  overflow: auto;
  background-color: #fff;
}

#filters_container {
    padding: 10px;
}

ul#search_form {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

ul#search_form li {
    display: inline-block;
    padding-right: 10px;
}

ul#search_form input[type="checkbox"] {
    margin: 0;
}

ul#search_form label {
    display: inline;
}

